<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>하이탑</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/board.css" />
    <link rel="stylesheet" href="/css/splitting.css" />

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/contents.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5ed682245d772fbafcb0be55f042b891&libraries=services"></script>

    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/splitting.min.js"></script>
    <script src="/js/greensock/gsap.min.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header id="header">
      <div class="container">
        <h1 id="logo">
          <a href="/"><img src="/images/logo.png" alt="하이탑" /></a>
        </h1>
        <nav id="gnb">
          <h2 class="blind">gnb</h2>
          <ul class="list">
            <li>
              <a href="" class="depth01">Company</a>
              <%- include("./lnb01") %>
            </li>
            <li>
              <a href="" class="depth01">Business</a>
              <%- include("./lnb02") %>
            </li>

            <li>
              <a href="" class="depth01">PR</a>
              <%- include("./lnb03") %>
            </li>

            <li>
              <a href="" class="depth01">Customer</a>
              <%- include("./lnb04") %>
            </li>

            <li>
              <a href="" class="depth01">Recruit</a>
              <%- include("./lnb05") %>
            </li>
          </ul>
        </nav>

        <a href="" class="online">온라인 견적문의</a>
        <button class="btnAll">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <!-- <span class="menu"
          ><a href=""><img src="/images/main/menu.png" alt="메뉴" /></a
        ></span> -->
      </div>
    </header>
    <!-- header end -->
  </body>
</html>
